/* Color Variables*/
:root {
   --briskBlue: #17253F;
   --intensityIndigo: #2343BD;
   --aquaPulse: #91B9D2;
   --limeLift: #DEF479;
   --enduranceWhite: #FCFCFC;
}

html {
   font-size: 100%;
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   background-color: var(--briskBlue);
}

#header {
   width: 100%;
}

nav {
   margin-bottom: 25px;
}

#page-title {
   margin-bottom: 0;
   font-size: 30px;
   font-family: Arial;
   font-weight: 700;
   color: var(--enduranceWhite);
   text-align: center;
}

/* overlay for hamburger menu */

.overlay {        /* whitespace for overlay menu */
   display: block;
   max-width: 64.266%;
   margin-left: auto; 
   margin-right: 0;
   position: fixed;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   background-color: var(--enduranceWhite);
   z-index: 1;
}

.overlay-2 {
   display: block;
   max-width: 35.734%;
   margin-left: 0; 
   margin-right: auto;
   position: fixed;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   background-color: var(--briskBlue);
   filter: contrast(13);
   z-index: 4;
}

/* animations for overlay and overlay2 sliding */

#overlay {
   transform: translateX(100%);
   transition: all 300ms ease-in-out;
}
 
#overlay.open {
   transform: translateX(0%);
}

#overlay2 {
   transform: translateX(-100%);
   transition: all 300ms ease-in-out;
}

#overlay2.open {
   transform: translateX(0%);
}

#overlay.close {
   transform: translateX(100%);
}
   
#overlay2.close {
   transform: translateX(-100%);
}

#logo-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid var(--limeLift);
}

.header-logo {
   width: 13%;
   margin-left: 25px;
}

#btnHamburger-container {
   margin-right: 25px;
}

#btnHamburger {

}

/* span elements that make Hamburger menu */

#btnHamburger > span {    
   display: block;
   width: 32px;
   height: 2px;
   background-color: var(--enduranceWhite);
   transition: all 300ms ease-in-out;
   transform-origin: 13% 61.5%;
}

#btnHamburger > span:not(:last-child) {
   margin-bottom: 6px;
}

#main {
   display: flex;
   flex-direction: column;

}

#hero-section {
   width: 100%;
   height: auto;
}

#hero-img {
   width: 100%;
}

#promotions-header {
   font-family: Arial;
   font-size: 25px;
   font-weight: 700;
   text-align: center;
   color: var(--limeLift);
}

#promotions-paragraph {
   font-family: Calibri;
   color: var(--aquaPulse);
   padding-left: 10px;
   padding-right: 10px;
   font-size: 20px;
   text-align: center;
}

.promotion-window-container {
   display: flex;
   justify-content: space-between;
}

.promotion-link {
   text-decoration: none;
}

.promotion-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;       
   height: 100px;      
   background-color: var(--intensityIndigo); 
   border: 1px solid var(--limeLift);
   border-radius: 50%; 
}

.promo-1 {
   
   background: linear-gradient(to right, var(--aquaPulse), var(--briskBlue), var(--limeLift));
}

.promo-2 {
   background: linear-gradient(to right, var(--limeLift), var(--briskBlue), var(--aquaPulse), var(--limeLift));
}

.promo-3 {

   background: linear-gradient(to left, var(--aquaPulse), var(--briskBlue), var(--limeLift));
}

.promo-text {
   font-family: Calibri;
   text-align: center;
   color: var(--enduranceWhite);
}

#training-reasons-section {
   margin-top: 46px;
   background-color: var(--enduranceWhite);
}

.training-header {
   font-family: Arial;
   font-weight: 700;
   color: var(--briskBlue);
   text-align: center;
}

#list-reasons {
   list-style-type: none;
   margin-right: 40px;
}

.reason {
   margin-bottom: 12px;
   padding: 5px 0px 5px 17px;
   font-family: Comfortaa;
   background-color: var(--aquaPulse);
   border: 1px solid var(--briskBlue);
}

.promotional-image {
   width: 100%;
}

.product-service-header {
   font-size: 25px;
   font-family: Arial;
   text-align: center;
   color: var(--enduranceWhite);
}

#products-services-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(149px, 1fr));
   grid-gap: 20px;
   padding: 20px;
}

.product-image {
   width: 100%;
   height: auto;
   display: block;
}

#footer {
   padding-top: 1px;
   margin-top: 28px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to right, var(--briskBlue), var(--aquaPulse));
}

.subscribe-header {
   margin-top: 24px;
   font-size: 20px;
   font-family: Calibri, Arial;
   font-weight: 700;
   color: var(--enduranceWhite);
   text-align: center;
}

#email-input{
   width: 71%;
   height: 32px;
   margin-bottom: 25px;
}

#subscribe-button {
   width: 71%;
   height: 32px;
   margin-bottom: 40px;
   cursor: pointer;
   color: var(--briskBlue);
   font-family: Arial;
   font-weight: 600;
   letter-spacing: 2px;
}

#social-container {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   margin-bottom: 20px;
}