/* Color Variables*/
:root {
   --briskBlue: #17253F;
   --intensityIndigo: #2343BD;
   --aquaPulse: #91B9D2;
   --limeLift: #DEF479;
   --enduranceWhite: #FCFCFC;
}


html {
   font-size: 100%;
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   background-color: var(--briskBlue);
}

.button {
   -webkit-tap-highlight-color: transparent;
}

.button:hover {
   filter:contrast(2);
}

.button:active {
   transform: translateY(1px);
   box-shadow: 0px 0px 0px 0px black;
}

.button:focus {
   outline: none;
}

#header {
   width: 100%;
}

nav {
   margin-bottom: 25px;
}

#page-title {
   margin-bottom: 0;
   font-size: 30px;
   font-family: Arial;
   font-weight: 700;
   text-align: center;
   color: var(--enduranceWhite);
}

/* overlay for hamburger menu */

.overlay {        /* whitespace for overlay menu */
   display: block;
   max-width: 64.266%;
   margin-left: auto; 
   margin-right: 0;
   position: fixed;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   background-color: var(--briskBlue);
   z-index: 1;
}

.overlay-2 {
   display: block;
   max-width: 35.734%;
   margin-left: 0; 
   margin-right: auto;
   position: fixed;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   background-color: var(--briskBlue);
   filter: contrast(13);
   z-index: 4;
}

/* animations for overlay and overlay2 sliding */

#overlay {
   transform: translateX(100%);
   transition: all 300ms ease-in-out;
}
 
#overlay.open {
   transform: translateX(0%);
}

#overlay2 {
   transform: translateX(-100%);
   transition: all 300ms ease-in-out;
}

#overlay2.open {
   transform: translateX(0%);
}

#overlay.close {
   transform: translateX(100%);
}
   
#overlay2.close {
   transform: translateX(-100%);
}




/* animations for Hamburger menu overlay */

@keyframes fade-in {
   from {
       visibility: hidden;
       opacity: 0;
   }
   1% {
       visibility: visible;
       opacity: 0;
   }
   to {
       visibility: visible;
       opacity: 1;
   }
}

@keyframes fade-out {
   from {
       visibility: visible;
       opacity: 1;
   }
   99% {
       visibility: visible;
       opacity: 0;
   }
   to {
       visibility: hidden;
       opacity: 0;
   }
}

/* animations for overlay2 */
@keyframes fade-in2 {
   from {
       visibility: hidden;
       opacity: 0;
   }
   1% {
       visibility: visible;
       opacity: 0;
   }
   to {
       visibility: visible;
       opacity: 0.7;
   }
}

@keyframes fade-out2 {
   from {
       visibility: visible;
       opacity: 0.7;
   }
   99% {
       visibility: visible;
       opacity: 0;
   }
   to {
       visibility: hidden;
       opacity: 0;
   }
}

/* Helper classes for animations */

.fade-in {
   animation: fade-in 200ms ease-in-out forwards;
}

.fade-out {
   animation: fade-out 200ms ease-in-out forwards;
}

.fade-in2 {
   animation: fade-in2 200ms ease-in-out forwards;
}

.fade-out2 {
   animation: fade-out2 200ms ease-in-out forwards;
}

.has-fade {
   visibility: hidden;
}

.has-fade2 {
   visibility: hidden;
}



.header-menu {
/*    height: 1.1875rem;
   margin-left: 85%;
   padding-right: 0;
   position: fixed;
   left: 8px;
   top: 27px;
   z-index: 1; */
}

.header-display {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   margin-left: 35px;
   margin-top: 77px;
   color: var(--enduranceWhite);
}

.header-display > a {
   color: var(--enduranceWhite);
   text-decoration: none;
   font-family: Calibri;
   margin-bottom: 31px;
   font-size: 20px;
}

.home-mobile-header {

}

.gallery-mobile-header {

}

.aboutUs-mobile-header {

}

.community-mobile-header {

}

.no-scroll {
   overflow: hidden;
 }

.header-menu > span {    
   display: block;
   width: 32px;
   height: 2px;
   background-color: var(--briskBlue);
   transition: all 300ms ease-in-out;
   transform-origin: 13% 61.5%;
}

.header-menu > span:not(:last-child) {
   margin-bottom: 6px;
}

.header-open > span:first-child {
   transform: rotate(45deg);
}

.header-open > span:nth-child(2) {
   opacity: 0;
}

.header-open > span:last-child {
   transform: rotate(-45deg);
}

#logo-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid var(--limeLift);
}

.header-logo {
   width: 13%;
   margin-left: 25px;
}

#btnHamburger-container {
   display: flex;
   margin-right: 25px;
   z-index: 1;
}

/* span elements that make Hamburger menu */

#btnHamburger > span {    
   display: block;
   width: 32px;
   height: 2px;
   background-color: var(--enduranceWhite);
   transition: all 300ms ease-in-out;
   transform-origin: 13% 61.5%;
}

#btnHamburger > span:not(:last-child) {
   margin-bottom: 6px;
}

/* Home Page Styles Start*/

#main {
   display: flex;
   flex-direction: column;
}

#hero-section {
   width: 100%;
   height: auto;
}

#hero-img {
   width: 100%;
}

#promotions-header {
   font-family: Arial;
   font-size: 25px;
   font-weight: 700;
   text-align: center;
   color: var(--limeLift);
}

#promotions-paragraph {
   padding-left: 10px;
   padding-right: 10px;
   font-family: Calibri;
   font-size: 20px;
   text-align: center;
   color: var(--aquaPulse);
}

.promotion-window-container {
   display: flex;
   justify-content: space-between;
}

.promotion-link {
   text-decoration: none;
}

.promotion-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;       
   height: 100px;      
   border: 1px solid var(--limeLift);
   border-radius: 50%; 
   background-color: var(--intensityIndigo); 
}

.promo-1 { 
   background: linear-gradient(to right, var(--aquaPulse), var(--briskBlue), var(--limeLift));
}

.promo-2 {
   background: linear-gradient(to right, var(--limeLift), var(--briskBlue), var(--aquaPulse), var(--limeLift));
}

.promo-3 {

   background: linear-gradient(to left, var(--aquaPulse), var(--briskBlue), var(--limeLift));
}

.promo-text {
   font-family: Calibri;
   text-align: center;
   color: var(--enduranceWhite);
}

#training-reasons-section {
   margin-top: 46px;
   background-color: var(--enduranceWhite);
}

.training-header {
   font-family: Arial;
   font-weight: 700;
   text-align: center;
   color: var(--briskBlue);
}

#list-reasons {
   list-style-type: none;
   margin-right: 40px;
}

.reason {
   margin-bottom: 12px;
   padding: 5px 0px 5px 17px;
   font-family: Comfortaa;
   border: 1px solid var(--briskBlue);
   background-color: var(--aquaPulse);
}

.promotional-image {
   width: 100%;
}

.product-service-header {
   font-size: 25px;
   font-family: Arial;
   text-align: center;
   color: var(--enduranceWhite);
}

#products-services-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(149px, 1fr));
   grid-gap: 20px;
   padding: 20px;
}

.product-image {
   width: 100%;
   height: auto;
   display: block;
}

#footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 28px;
   padding-top: 1px;
   background: linear-gradient(to right, var(--briskBlue), var(--aquaPulse));
}

.subscribe-header {
   margin-top: 24px;
   font-size: 20px;
   font-family: Calibri, Arial;
   font-weight: 700;
   text-align: center;
   color: var(--enduranceWhite);
}

#email-input{
   width: 71%;
   height: 32px;
   margin-bottom: 25px;
}

#subscribe-button {
   width: 71%;
   height: 32px;
   margin-bottom: 40px;
   font-family: Arial;
   font-weight: 600;
   letter-spacing: 2px;
   cursor: pointer;
   color: var(--briskBlue);
}

.subscribe-btn-class {
   box-shadow: 0px 2px 3px 0px black;
}

#social-container {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   margin-bottom: 20px;
}

/* Homepage Styles End */

/* Gallery Styles Start */

.cart-icon {
   margin-right: 26px;
   cursor: pointer;
}

#gallery-heading {
   margin-top: 0px;
   font-size: 16px;
   font-family: Arial;
   font-weight: 600;
   text-align: center;
   color: var(--enduranceWhite);
}

.view-cart-button {
   width: 107px;
   height: 40px;
   font-family: Calibri;
   font-weight: 700;
   letter-spacing: 1px;
   color: var(--enduranceWhite);
   border: none;
   border-radius: 20px;
   background: linear-gradient(-3deg, var(--briskBlue), var(--aquaPulse));
   box-shadow: 0px 1px 3px 1px black;
   cursor: pointer;
}

/* Cart Screen */

.cart-inventory {
   width: 362px;
   height: 258px;
   z-index: 1;
   position: relative;
   background-color: var(--enduranceWhite);
   margin: 10px auto 30px auto;
   border-radius: 10px;
   box-shadow: 0px 0px 23px 0px var(--briskBlue);
}

.cart-header-container {
   height: 68px;
   border-bottom: 1px solid var(--aquaPulse);
   margin-bottom: 25px;
   padding-top: 22px;
   padding-left: 24px;
}

.cart-header {
   margin-top: 0;
   margin-bottom: 0;
   font-weight: 700;
   color: var(--briskBlue);
   text-align: left;
}

.cart-display-empty {
   font-weight: 700;
   color: var(--briskBlue);
   margin-top: 50px;
   margin-bottom: 0;
   text-align: center;
}


.cart-text-container {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}


.cart-display-full {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 0;
   line-height: 1.5;
   color: var(--briskBlue);
}

.product-in-cart {
   list-style-type: none;
   font-family: Arial;
}

.cart-total-price {
   font-weight: 700;
   color: var(--briskBlue);
}

.trash-icon {
   width: 20px;
   height: 20px;
   cursor: pointer;
   margin-right: 16px;
}

.checkout-btn {
   width: 312px;
   height: 56px;
   margin-left:25px;
   border: none;
   border-radius: 10px;
   font-family: Calibri;
   font-size: 16px;
   font-weight: 700;
   letter-spacing: 1px;
   background-color: var(--intensityIndigo);
   color: var(--enduranceWhite);
   cursor: pointer;
}

.product-thumbnails-container {
   display: none;
}

.cart-icon-grey {
   display: none;
}


/* Helper Classes */

.hidden {
   display: none;
}





#gallery-container {
   margin-top: 36px;
   margin-top: 36px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.gallery-product {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 95%;
   padding-top: 8px;
   background-color: var(--aquaPulse);
   border-bottom: 2px solid var(--briskBlue);
   box-shadow: 0px 0px 3px 3px black;
}

.gallery-1 {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.gallery-9 {
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: 0px 0px 3px 3px black;
}

.gallery-product-title {
   margin-top: 0;
   font-family: Arial;
   font-size: 20px;
   text-align: center;
   color: var(--briskBlue);
}

.gallery-product-image {
   width: 100%;
   height: auto;
}

.gallery-product-description {
   margin-left: 20px;
   margin-right: 20px;
   font-family: Comfortaa, Arial;
   font-size: 15px;
   text-align: center;
   color: var(--briskBlue);
}

.add-cart-button {
   width: 107px;
   height: 22px;
   margin-bottom: 20px;
   border-radius: 20px;
   border:none;
   background: radial-gradient(ellipse at center, var(--briskBlue), var(--aquaPulse));
   color: var(--enduranceWhite);
   box-shadow: 0px 1px 3px 1px black;
   cursor: pointer;
}

/* Gallery Styles Start */

/* About Us Styles Start */

#aboutUs-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#aboutUs-header {
   margin-top: 0;
   font-family: Arial;
   text-align: center;
   color: var(--enduranceWhite);
}

#aboutUs-description-container {
   width: 95%;
   margin-bottom: 18px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px -4px var(--limeLift);
}

#aboutUs-description {
   padding-left: 10px;
   padding-right: 10px;
   font-family: Calibri;
   font-size: 20px;
   text-align: center;
   color: var(--aquaPulse);
}

#business-hours-header {
   font-family: Arial;
   color: var(--enduranceWhite);
   text-align: center;

}

#operations-table {
   width: 100%;
   margin-bottom: 26px;
   border-collapse: collapse;
}

.operations-table-header, .operations-table-data {
   padding: 8px;
   font-family: Calibri;
   text-align: left;
   color: var(--enduranceWhite);
   border: 1px solid var(--enduranceWhite);
}

.operations-table-header {
   color: var(--briskBlue);
   background-color: var(--enduranceWhite);
}

#contact-form {
   display: flex;
   flex-direction: column;
   width: 95%;
   margin: 0 auto;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0px 0px 11px -4px var(--aquaPulse);
}

#contact-section-header {
   font-family: Arial;
   text-align: center;
   color: var(--enduranceWhite);
   font-size: 20px;
}

.form-label {
   display: block;
   margin: 10px 0 5px;
   font-family: Calibri;
   font-weight: 700;
   color: var(--enduranceWhite);
}

.form-input {
   width: 100%;
   padding: 8px;
   margin-bottom: 15px;
   border: 1px solid var(--aquaPulse);
   border-radius: 5px;
}

#form-submit-button {
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   font-family: Calibri;
   letter-spacing: 1px;
   color: var(--enduranceWhite);
   background-color: var(--intensityIndigo);
   cursor: pointer;
}

.form-text-area {
   margin-bottom: 25px;
}

.submit-btn {
   margin-bottom: 20px;
   box-shadow: 0px 1px 4px -2px var(--enduranceWhite);
}

#customer-highlights-header {
   text-align: center;
   color: var(--enduranceWhite);
   font-family: Arial;
}

.customer-highlight-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-left: 12px;
   padding-right: 12px;
   margin: 0px 20px 20px 20px;
   border-radius: 5px;
   background: var(--intensityIndigo);
   box-shadow: 0px 0px 4px 0px var(--limeLift);
}

.highlight-container-1 {
   background: linear-gradient(to right, var(--intensityIndigo), var(--briskBlue));
}

.highlight-container-2 {
   background: linear-gradient(to right, var(--intensityIndigo), var(--briskBlue));
}

.highlight-container-3 {
   background: linear-gradient(to right, var(--intensityIndigo), var(--briskBlue));
}

.customer-highlight-name {
   align-self: flex-start;
   margin-bottom: 0;
   font-family: Arial;
   color: var(--aquaPulse);
}

.customer-highlight-paragraph {
   font-family: Comfortaa;
   font-size: 15px;
   color: var(--aquaPulse);
}

.rating-star-container {
   margin-bottom: 10px;
}

.rating-star {
   width: 25px;
}

#community-engagement-header {
   font-family: Arial;
   text-align: center;
   font-size: 20px;
   color: var(--enduranceWhite);
}

.community-engagement-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
   background: var(--aquaPulse);
   background: linear-gradient(135deg, var(--aquaPulse), var(--enduranceWhite));
}

.community-engagement-header {
   font-family: Arial;
   text-align: center;
   font-size: 25px;
}

.engagement-header {
   margin-top: 22px;
   margin-bottom: 0;
   font-size: 15px;
   font-family: Comfortaa;
   text-align: center;
   color: var(--briskBlue);
}

.engagement-description-container {
   margin: 0px 15px 15px 15px;
}

.engagement-description {
   font-family: Calibri;
   text-align: center;
   color: var(--briskBlue);
}

.special-event-header {
   font-family: Arial;
   font-size: 25px;
   text-align: center;
   color: var(--limeLift);
   box-shadow: 0px 1px 10px -1px var(--limeLift);
}

.event-description-container {
   margin: 0px 15px 34px 15px;
   padding: 2px;
   text-align: center;
   box-shadow: 0px 0px 16px -8px var(--limeLift)
}

.special-event-paragraph {
   font-family: Calibri;
   font-size: 20px;
   color: var(--limeLift);
}

.text-gradient {
   background: linear-gradient(135deg, var(--limeLift), var(--enduranceWhite));
   background-clip: text;
   -webkit-background-clip: text; /* For WebKit browsers */
   color: transparent;
 }